<nz-layout class="layout">
  <nz-sider [(nzCollapsed)]="isCollapsed" [nzWidth]="200" nzCollapsible>
    <div class="logo">
      <h1 class="app-name" *ngIf="!isCollapsed">Anna's Awesome App</h1>
    </div>

    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li
        nz-menu-item
        [nzSelected]="selectedMenu === 'home'"
        (click)="selectedMenu = 'home'"
        routerLink="/feed"
      >
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Home</span>
      </li>

      <li
        nz-menu-item
        [nzSelected]="selectedMenu === 'people'"
        (click)="selectedMenu = 'people'"
        routerLink="/users"
      >
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Users</span>
      </li>

      <li
        nz-menu-item
        [nzSelected]="selectedMenu === 'profile'"
        (click)="selectedMenu = 'profile'"
        [routerLink]="['/profile', currentUser?.id]"
      >
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>My Profile</span>
      </li>

      <li
        nz-menu-item
        [nzSelected]="selectedMenu === 'settings'"
        (click)="selectedMenu = 'settings'"
        routerLink="/settings"
      >
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        <span>Settings</span>
      </li>

      <li
        nz-menu-item
        (click)="logout()"
      >
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>

    <nz-content class="inner-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer class="app-footer">
      <div class="footer-content">
        <div class="footer-links">
          <a href="#">About</a>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
          <a href="#">Help</a>
        </div>
        <div class="copyright">
          © 2025 Anna's Awesome App. All rights reserved.
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
