<div class="feed-container">
  <div class="post-form-container">
    <nz-card>
      <form [formGroup]="postForm" (ngSubmit)="createPost()">
        <nz-input-group [nzSuffix]="suffixButton">
          <textarea
            formControlName="content"
            nz-input
            placeholder="What's on your mind?"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          ></textarea>
        </nz-input-group>
        <ng-template #suffixButton>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="postForm.invalid"
          >
            Post
          </button>
        </ng-template>
      </form>
    </nz-card>
  </div>

  <div class="posts-container">
    <nz-spin [nzSpinning]="isLoading" nzTip="Loading posts...">
      <div *ngIf="posts.length === 0 && !isLoading" class="empty-feed">
        <nz-empty
          nzDescription="No posts to show. Follow more people or create your first post!"
        ></nz-empty>
      </div>

      <div *ngFor="let post of posts" class="post-card">
        <nz-card>
          <div class="post-header">
            <div class="user-info">
              <nz-avatar
                [nzSrc]="getProfileImageUrl(post.user!)"
                nzSize="large"
              ></nz-avatar>
              <div class="user-details">
                <a [routerLink]="['/profile', post.user?.id]" class="user-name">
                  {{ post.user?.firstName }} {{ post.user?.lastName }}
                </a>
                <span class="post-time">{{ formatDate(post.createdAt) }}</span>
              </div>
            </div>
            <div *ngIf="isPostOwner(post)" class="post-actions">
              <button
                nz-button
                nzType="text"
                nzDanger
                (click)="deletePost(post)"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </div>
          </div>

          <div class="post-content">
            <p>{{ post.content }}</p>
          </div>

          <div class="post-footer">
            <div class="post-stats">
              <span class="like-count" *ngIf="post._count?.likes">
                <span nz-icon nzType="like" nzTheme="outline"></span>
                {{ post._count?.likes }}
              </span>
              <span
                class="comment-count"
                *ngIf="post._count?.comments"
                (click)="toggleComments(post)"
              >
                {{ post._count?.comments }} comments
              </span>
            </div>

            <div class="post-actions">
              <button
                nz-button
                nzType="text"
                [ngClass]="{ liked: post.userHasLiked }"
                (click)="toggleLike(post)"
              >
                <span nz-icon nzType="like" nzTheme="outline"></span>
                Like
              </button>
              <button nz-button nzType="text" (click)="toggleComments(post)">
                <span nz-icon nzType="comment" nzTheme="outline"></span>
                Comment
              </button>
            </div>
          </div>

          <div *ngIf="showComments[post.id]" class="comments-section">
            <div class="comment-form">
              <form
                [formGroup]="commentForms[post.id]"
                (ngSubmit)="addComment(post)"
              >
                <nz-input-group [nzSuffix]="commentButton">
                  <input
                    formControlName="content"
                    nz-input
                    placeholder="Write a comment..."
                  />
                </nz-input-group>
                <ng-template #commentButton>
                  <button
                    nz-button
                    nzType="primary"
                    nzSize="small"
                    type="submit"
                    [disabled]="commentForms[post.id].invalid"
                  >
                    Comment
                  </button>
                </ng-template>
              </form>
            </div>

            <nz-list
              *ngIf="post.comments && post.comments.length > 0"
              [nzDataSource]="post.comments"
              [nzRenderItem]="commentTemplate"
              [nzItemLayout]="'horizontal'"
            ></nz-list>

            <ng-template #commentTemplate let-comment>
              <nz-comment
                [nzAuthor]="
                  comment.user?.firstName + ' ' + comment.user?.lastName
                "
                [nzDatetime]="formatDate(comment.createdAt)"
                [nzAvatar]="getProfileImageUrl(comment.user!)"
              >
                <nz-comment-content>
                  <p>{{ comment.content }}</p>
                </nz-comment-content>
                <nz-comment-action *ngIf="isCommentOwner(comment)">
                  <span
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    (click)="deleteComment(post, comment)"
                  ></span>
                </nz-comment-action>
              </nz-comment>
            </ng-template>
          </div>
        </nz-card>
      </div>
    </nz-spin>
  </div>
</div>
